/* PHASE 12: Modal */
.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-form {
  position: absolute;
  margin-left: -200px;
  left: 50%;
  top: 20%;
  background-color: #eee;
  z-index: 3;
  width: 400px;
  border-radius: 5px;
  padding: 20px;
}

.modal-form h1 {
  font-size: 40px;
  font-weight: lighter;
}

.modal-close {
  position: absolute;
  right: 20px;
  font-size: 40px;
}

.modal-close:hover {
  color: red;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-form p {
  padding-bottom: 10px;
}
